* {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.application {
  background: rgb(232,143,48);
  background: linear-gradient(90deg, rgba(232,143,48,1) 25%, rgba(222,190,167,1) 79%, rgba(255,136,0,0.9164040616246498) 100%);
}

/* Components ====================================================== */
/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
}

.header .header-right {
  margin-left: 20px;
}

.header div {
  padding: 10px;
}

/* Footer CSS */
.footer .container {
  border: 2px solid black;
}

/* Pages ====================================================== */
/* Home */
.home .typewriter-box {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  width: 1100px;
}

.home .typewriter {
  text-align: center;
  background: white;
  width: 1100px;
  overflow-wrap: break-word;
}
